* {
    margin: 0;

}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(48, 50, 53);

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin: 0 23px;

}

nav ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;

}

nav ul li a:hover {
    color: purple;
    font-size: 1.0rem;

}
.left {
    font-size: 1.5rem;
}
.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer div {
    width: 60px;
}

footer .rights {
    text-align: center;
    color: grey;
    height: 60px;

}
.container {
    background-color: rgb(0, 0, 0);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    margin-left: 580px;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 15px;

}

label {
    margin-bottom: 10px;
    display: block;
    color: #ffffff;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

button:hover {
    background-color: #4cae4c;
}